*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.parent1{
    background-color: lightgrey;
    height: 100vh;
    width: 100%;
}

.child1{
    width: 50%;
    margin-left: 25%;
}

.child1 h2{
    font-size: 30px;
    text-align: center;
   
}

.child1 img{
    width: 100%;
    margin-top: 10%;
}

.child1 p{
    margin-top: 10%;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 5%;
    float: left;
}

.parent2{
    background-color: lightblue;
    height: 100vh;
    width: 100%;
}

.child2{
    width: 50%;
    margin-left: 25%;
}

.child2 h2{
    font-size: 30px;
    text-align: center;
   
}

.child2 img{
    width: 100%;
    margin-top: 10%;
}

.child2 p{
    margin-top: 10%;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 5%;
    float: left;
}

.parent3{
    background-color: lightyellow;
    height: 90vh;
    width: 100%;
}

.child3{
    width: 50%;
    margin-left: 25%;
}

.child3 h2{
    font-size: 30px;
    text-align: center;
   
}

.child3 img{
    width: 100%;
    margin-top: 10%;
}

.child3 p{
    margin-top: 10%;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 5%;
    float: left;
}